/* General */
footer{
    height: 350px;
    width: 100%;
    padding: 4% 15.5%;
    background: #636363;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9rem;
}
address{
    font-style: normal;
}
#footer-logo{
    width: 85px;
}
#footer-contact-wrapper{
    align-self: center;
}
#footer-contact-wrapper h3{
    padding-bottom: 5px;
    margin: 0;
    letter-spacing: 0.1rem;
}
#footer-social-wrapper{
    display: flex;
}
.vr{
    display: block;
    border-right: 1px solid #f7f7f7;
    margin: 0 3%;
}
.footer-social{
    padding: 0 5px;
}
.vr, .footer-social{
    height: 20px;
}
#email-icon{
    height: 18px;
}
.footer-social-link{
    align-self: center;
}
/* END General */



/* Mobile */
footer{
    padding: 10% 0;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    height: 300px;
}
#footer-logo{
    display: block;
    width: 65px;
    margin: 0 auto;
}
#footer-words, #footer-contact-wrapper{
    width: 72%;
}
#footer-words{
    margin-bottom: 6%;
}
#footer-contact-wrapper{
    text-align: center;
}
.vr, .footer-social{
    height: 15px;
}
#email-icon{
    height: 14px;
}
/* END Mobile */