/* General */
body {
    font-size: 12px;
}
/* END General */



/* Modal */
.modal-content {
    width: 85%;
}
.modal-section, .modal-hr {
    width: unset;
}
/* END Modal */



/* Navbar */
#dvrpc-logo {
    width: 55px;
}
/* END Navbar */



/* Main Webmap Area */
.overlay {
    width: 13em;
}
.mapboxgl-ctrl-geocoder {
    font-size: 0.9rem;
    min-width: unset;
    width: 75%;
}
.mapboxgl-ctrl-geocoder--input {
    height: 30px;
    padding: 6px 35px;
    padding-right: 0;
}
.mapboxgl-ctrl-geocoder--icon-search {
    top: 3px;
    left: 6px;
}
/* END Main Webmap Area */