/* General */
* {
    margin: 0;
}
body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.45;
    text-rendering: optimizeLegibility;
}
h1 {
    text-align: center;
}
summary {
    cursor: pointer;
}
fieldset {
    font-size: 0.8em;
}
input[type=radio], input[type=checkbox] {
    margin-right: var(--padding-half);
}
:root {
    --theme-dvrpc: #0078ae;
    --theme-black: #505a5e;
    --theme-white: #f7f7f7;
    --theme-offwhite: #e7e7e7;

    --padding-half: 5px;
    --padding: 10px;
    --padding-double: 20px;

    --border-radius: 4px;
    --box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}
.flex-row {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}
.flex-end {
    justify-content: flex-end;
}
.summary-h2 {
    display: inline;
}
/* END General */



/* Modal */
.modal-content{
    box-shadow: var(--box-shadow);
}
.modal-toggle, .close-modal{
    cursor: pointer;
    font-size: inherit;
}
.modal{
    position: fixed;
    display: none;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
}
.modal-content{
    position: relative;
    background: #fff;
    width: 50%;
    padding: var(--padding-double);
    border-radius: var(--border-radius);
    filter: brightness(150%);
}
.close-modal{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.5em;
}
.modal-content-subheader {
    text-align: center;
    margin-bottom: 1rem;
}
/* END Modal */



/* Navbar */
nav {
    position: relative;
    height: 6vh;
    padding: 0 var(--padding);
    background-color: var(--theme-dvrpc);
    color: #f7f7f7;
    box-shadow: var(--box-shadow);
    z-index: 1;
}
.nav-links {
    color: #f7f7f7;
}
.nav-btn {
    background: transparent;
    border: none;
    text-decoration: underline;
    padding: 0;
}
.nav-vr {
    margin: 0 5px;
}
#dvrpc-logo {
    display: block;
    width: 75px;
}
/* END Navbar */



/* Main Webmap Area */
.map {
    height: 88vh;
    width: 100%;
}
#regional-extent-img {
    display: block;
    margin: 0 auto;
    height: 20px;
    width: 20px;
}
.mapboxgl-popup-content {
    padding: var(--padding-double) var(--padding);
}
.popup-span {
    display: block;
}
.popup-span:not(:last-of-type) {
    border-bottom: 1px dotted var(--theme-black);
}
/* END Main Webmap Area */



/* Map Overlays */
.overlay {
    z-index: 2;
    position: absolute;
    max-width: 25em;
    top: 10px;
    left: 10px;
    font-size: 1rem;
    padding: var(--padding);
    background-color: var(--theme-offwhite);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.overlay-h2 {
    font-size: 1.33rem;
    font-weight: 400;
}
.overlay-hr {
    margin: var(--padding-double) 0;
}
.overlay-form, .overlay-select {
    background-color: var(--theme-white);
    font-size: inherit;
}
.overlay-form {
    padding: var(--padding);
    border-radius: var(--border-radius);
}
.overlay-form-toggle-group {
    margin-bottom: var(--padding-double);
}
/* END Map Overlays */



/* Footer */
footer {
    position: relative;
    box-shadow: var(--box-shadow-up);
    padding: 0 var(--padding);
    height: 6vh;
    background-color: var(--theme-black);
    color: #f7f7f7;
}
/* END Footer */