/* General */
* {
    margin: 0;
}
body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 140%;
    text-rendering: optimizeLegibility;
}
h1 {
    text-align: center;
}
:root {
    --theme-dvrpc: #0078ae;
    --theme-dark: #505a5e;

    --wrapper-padding: 10px;
    --wrapper-padding-double: 20px;

    --box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}
.flex-row {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row-between {
    justify-content: space-between;
}
.flex-row-around {
    justify-content: space-around;
}
.flex-row-end {
    justify-content: flex-end;
}
/* END General */



/* Navbar */
nav {
    position: relative;
    height: 6vh;
    padding: 0 var(--wrapper-padding);
    background-color: var(--theme-dvrpc);
    color: #f7f7f7;
    box-shadow: var(--box-shadow);
    z-index: 1;
}
.nav-links {
    color: #f7f7f7;
}
/* END Navbar */



/* Main Webmap Area */
#main-content-wrapper {
    height: 94vh;
}
#regional-extent-img {
    height: 20px;
    width: 20px;
    margin-top: 2.5px;
}
/* END Main Webmap Area */



/* Sidebar */
#sidebar {
    width: 30%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f7f7f7;
}
#sidebar-content {
    padding: var(--wrapper-padding-double) var(--wrapper-padding);
    min-height: calc(90% - 40px);
}
/* END Sidebar */



/* Map */
#map {
    width: 70%;
    height: 100%;
}
/* END Map */



/* Footer */
footer {
    padding: var(--wrapper-padding);
    width: 100%;
    min-height: calc(10% - 20px);
    background-color: var(--theme-dark);
    color: #f7f7f7;
}
/* END Footer */