/* General */
body {
    font-size: 12px;
}
/* END General */



/* Modal */
#modal-content {
    width: 85%;
}
/* END Modal */



/* Navbar */
#dvrpc-logo {
    width: 55px;
}
/* END Navbar */



/* Main Webmap Area */
#main-content-wrapper {
    flex-direction: column-reverse;
}
/* END Main Webmap Area */



/* Sidebar */
#sidebar {
    width: 100%;
}
/* END Sidebar */



/* Map */
#map {
    width: 100%;
}
/* END Map */